snippet caf
	const ${1} = (${2}): ${3} => {
		${4}
	}

snippet ecaf
	export const ${1} = (${2}): ${3} => {
	  ${4}
	}

snippet :a
	${1}: (${2}): ${3} => {
		${4}
	},

snippet co
	console.log({${1}})

snippet forao
	for await (const ${1} of ${2}) {
		${3}
	}

snippet cmet
	${1}(): ${2} {
		${3}
	}

snippet acmet
	async ${1}(${2}): Promise<${3}> {
		${4}
	}

snippet coj
	console.log(JSON.stringify(${1}, null, 2));

