snippet caf "const arrow function" b
const ${1} = (${2})  => {
	${3}
}
endsnippet

snippet co "console.log({ something })" b
console.log({${1}})
endsnippet

snippet forao "for await of" b
for await (const ${1} of ${2}) {
	${3}
}
endsnippet

snippet cmet "class method" b
${1}():${2} {
	${3}
}
endsnippet
